name: Pull Translations from Crowdin
on:
  schedule:
    - cron: "0 7-17 * * 1-5"
  workflow_dispatch:
jobs:
  pull-from-crowdin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Pull translations from Crowdin
        uses: crowdin/github-action@60debf382ee245b21794321190ad0501db89d8c1 # v2.13.0
        with:
          upload_sources: false
          download_translations: true
          create_pull_request: true
          localization_branch_name: automated-translations-update
          pull_request_title: "GH Auto: Automated Update of Translations from Crowdin"
          pull_request_base_branch_name: develop
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}
          CROWDIN_TOKEN: ${{ secrets.CROWDIN_TRANSLATIONS_TOKEN }}
